---
new_page_extension: md
auto_deploy: true
admin_path: portfolio/.vuepress/public/admin
webhook_url: 
sections:
  - label: Posts
    type: directory
    path: portfolio/blog
    create: all
    match: portfolio/blog/**/[!index]*
    templates:
      - blog
  - label: Projetos
    type: document
    path: portfolio/projetos.md
    templates:
      - projetos
  - label: Home
    type: document
    path: portfolio/index.md
    templates:
      - home
  - label: Home Blog
    type: document
    path: portfolio/blog/index.md
    create: none
    templates:
      - blog-index
  - label: Sobre
    type: document
    path: portfolio/sobre.md
    templates:
      - sobre
  - label: Site Config
    type: document
    path: portfolio/setup/info.json
    templates:
      - info
upload_dir: portfolio/.vuepress/public/upload
public_path: "/upload"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
instant_preview: true
build:
  preview_command: yarn build
  publish_command: yarn build
  preview_env:
  - NODE_ENV=staging
  publish_env:
  - NODE_ENV=production
  preview_output_directory: dist
  output_directory: dist
  instant_preview_command: yarn dev
