---
new_page_extension: md
auto_deploy: true
admin_path: "/admin"
webhook_url:
sections:

  - path: portfolio/index.md
    type: document
    label: Home
    create: none
    templates:
      - home

  - path: portfolio/blog
    type: directory
    label: Posts
    create: all
    match: "portfolio/blog/**/[!index]*"
    templates:
      - blog

  - path: portfolio/blog/index.md
    type: document
    label: Blog Home
    create: none
    templates:
      - blog-index

  - path: portfolio/projetos.md
    type: document
    label: Projetos
    create: none
    templates:
      - projetos

  - path: portfolio/sobre.md
    type: document
    label: Sobre
    create: none
    templates:
      - sobre

  - path: portfolio/setup/info.json
    type: document
    label: Site Config
    create: none
    templates:
      - info

upload_dir: portfolio/.vuepress/public/upload
public_path: "/upload"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_command: yarn build
  preview_output_directory: dist
  preview_env:
    - NODE_ENV=staging

  publish_command: yarn build
  output_directory: .vuepress/dist
    publish_env:
      - NODE_ENV=production
    
  instant_preview_command: yarn dev