// OVERRIDE VARIABLES
// See more in https://github.com/thgroch/vuepress-theme-thgroch/blob/master/styles/config.styl

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
